language: go
go:
  - 1.4
  - tip

branches:
  only:
    - master

git:
  submodules: false

before_install:
  - git submodule update --init --recursive
  - ( cd lib/tgl && ./configure --enable-libevent && make )
  - sudo cp lib/tgl/libs/libtgl.so /usr/lib/

install:
  - go build -x -v ./...

script:
  - go test -v
  - go test -i -race ./...
  - go test -v -race ./...

notifications:
  email:
    recipients:
      - gloob@litio.org
    on_success: change
    on_failure: always
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d2d9f5bec1b7fc6e77b7
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
